        <meta property="og:title" content="{{ page.title }}{{ site.aname }}" />
        <meta name="description" content="{{ page.description }}" />
        <meta property="og:description" content="{{ page.description }}" />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:site_name" content="{{ site.aname }}" />
        <meta name="author" content="{{ site.aname }} (NotABoy)" />
        <meta name="robots" content="{{ page.robots }}" />
        <link rel="canonical" href="https://archive.gh.francaise.eu.org/webRP.H-Lynn//{{ page.url }}" />
        <meta property="og:type" content="website" />
