    <div class="navigation nav-po">
        <div class="nav-container nav-po">
            <div class="brand nav-po">
                <a href="/" rel="noopener" title="Accueil">{{ site.nname }}</a>
            </div>
            <nav>
                <ul class="nav-list nav-po">
                    <li>
                        <a href="/" rel="noopener" title="Accueil">Accueil</a>
                    </li>
                    <li>
                        <a href="/photos" rel="noopener" title="Photographie">Photographie</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>