<!DOCTYPE HTML>
<!--
	Code by hlynn.cf | HRP: NotABoy (Lou) | RP: {{ site.aname }}
--> 
    <!-- @layouts -->
<html>
	<head>
		<title>{{ page.title }} {{ site.aname }}</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/assets/img/favicon/001.png">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/nab-requirement.css" />
		<link rel="stylesheet" href="/assets/css/{{ page.css }}.css" />
		<script src="/assets/js/jquery.min.js"></script>
	</head>
<body class="{{ page.bodyclass }}">
	<!-- @navbar -->
{% include navbar.html %}
	<!-- @made-in-lynn -->
{% include made-in-lynn.html %}
    <!-- @content -->
{{ content }}
</body>
</html>