<!DOCTYPE HTML>
<!--
	Code by hlynn.cf | HRP: NotABoy (Lou) | RP: {{ site.aname }}
--> 
    <!-- @layouts -->
<html prefix="og: https://ogp.me/ns#" lang="fr-FR">
	<head>
	<!-- @meta-seo -->
		<meta charset="utf-8" />
		<title>{{ page.title }}{{ site.aname }}</title>
{% include meta-seo.html %}
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />	
		<link rel="icon" type="image/png" href="/webRP.H-Lynn/assets/img/favicon/001.png">
	<!-- @css-js -->
		<link rel="stylesheet" href="/webRP.H-Lynn/assets/css/nab-requirement.css" />
		<link rel="stylesheet" href="/webRP.H-Lynn/assets/css/{{ page.css }}.css" />
		<script src="/webRP.H-Lynn/assets/js/jquery.min.js"></script>
	</head>
<body class="{{ page.bodyclass }}">
	<!-- @navbar -->
{% include navbar.html %}
	<!-- @made-in-lynn -->
{% include made-in-lynn.html %}
    <!-- @content -->
{{ content }}
</body>
</html>
